ul{
    list-style-type: square;
    list-style-type: circle;
    list-style-type:disc;
    list-style-type: none;
    list-style-image: url(arrow.png);
    /* overflow: scroll;
    resize: both; */
}

ol{
    list-style-type: upper-alpha;
    list-style-type: lower-alpha;
    list-style-type: upper-roman;
    list-style-type: lower-roman;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
}

li{
    border: 1px solid black;
    list-style-position: inside;
}