/* first example */
/* img{
    width: 100px;
    height: auto;
    padding: 10px;
}
#img1{
    float: right;
}
#img2{
    float: left;
} */

/* Second Example */
/* ul{
    background-color: green;
    list-style: none;
    overflow: auto;

}
li{
    color: white;
    padding: 10px 15px;
    float: left;
} */



/* Third Example */
/* 
p{
    border: 1px solid red;
    overflow: auto;
}
img{
    width: 100px;
    height: auto;
}

#img1{
    float: right;
}
#img2{
    float: right;
    clear: right;
} */



/* Fourth Example */ 
#content{
    width:70%;
    background-color: green;
    height: 200px;
    float: left;
}
#sidebar{
    width:30%;
    background-color:indianred;
    height:150px;
    float: left;
}
#footer{
    background-color: yellowgreen;
    clear: both;
}