body{
    border: 2px solid red;
    height: 800px;
}
#div1{
    background-color: blueviolet;
    /* height: 50%; */
    width: 70%;
    /* max-width: 500px;
    max-height: 300px; */
    min-width: 1000px;
    min-height: 300px; 
}