/* second function(variable) */

:root{
    --primary-color: teal;
    --btn-color: blueviolet;
    --text-color: white;
}
#fun{
    background-color: var(--primary-color);
    height: 200px;
    width: calc(100% - 200px); /*first fuction*/

}
a{
    padding: 10px 30px;
    margin: 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    text-decoration: none; /* for remove underline in the link */
}
