.flex-container{
    background-color: indianred;
    display: flex;
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    /* flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse; */

    /* flex-flow: row wrap; */

    /*justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end; */

    /* justify-content: space-around;
    justify-content: space-between; */

    /* height: 70vh; */

    /* align-items: center;
    align-items: flex-start;
    align-items: flex-end; */

    /* flex-wrap: wrap;
    align-content: stretch;
    align-content: space-between;
    align-content: space-around;
    align-content: flex-start;
    align-content: flex-end; */

    /* align-items: flex-start;
    justify-content: center;
    align-items: center; */
    height: 400px;
}
.flex-child{
    background-color: wheat;
    margin: 20px;
    padding: 20px;
    width: 100px;
    text-align: center;
}

#one{
    /* order: 2; */
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
    align-self: flex-start;

}
#two{
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex-basis: 300px; */
    align-self: center;
}
#three{
    /* order: 1; */
    /* flex-grow: 4; */
    /* flex-shrink: 5; */
    align-self: flex-end;
}